<!DOCTYPE html>
<html lang="sv" class=">
<head>
  <meta charset = "utf-8>
  <title> Min hund Jorgen</title>
<style>
   h1{
     font-family: Arial;
     text-align: center;
     text-transform:uppercase; 
     border-bottom: 1px solid #57b1dc;
     magin-top: 30px;
     }
 h2{
     color:blue;
     front-size : 10em;
   }
footer.footer{border-top: 1px solid #57b1dc;}
div.container-tb{border: 1px solid blue;}
</style>
</head>

<body>

   <div style="border-top:1px solid #57b1dc;border-bottom: 1px solid #57b1dc;background-color:#f1f1f1;"><a href="/">       Tillbaka hemsidan </a>      </div>
   
<br>
<div >Nu visar vi Jorgen</div>
<hr>
<h1>My hund Jorgen</h1>
<div style="text-align:center;"><img src="../static/images/Jorgen.jpeg" alt="Jorgens bild" width="800" height="600"> </div>



<h2> Uppgifter</h2>
<ul style="font-size:large">
    <li><b>Namn:</b>  Jorgen</li>
<li><b>Registreringsnummer:</b>  REGV0123/2022</li>
<li><b>Kön:</b>  Hane</li>
<li><b>Födelsedatum:</b>  2022-01-23</li>
<li><b>Färg:</b>  SVART & VIT & GRÅ</li>
<li><b>Egenskaper:</b>  Snäll och Aktiv</li>
<li><b>Stamtavla</b></li>
</ul>

<footer class = "footer" ><div style="font-size:15px;color:gray;text-align:center"><p> Hund Introduktion - Border Collie</p> <p> Copyright  @ 2023 Svenska Akademien          Kontakt:Volta.xia@gmail.com</p></div></footer> 

</body>
</html>
